doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Golf Chats
  block styles
    link(rel='stylesheet' type='text/css' href='/css/style.css')

include /_partials/nav.pug
main
  section
    h1 Golf Chats

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam sequi labore possimus similique. Odio provident inventore ipsum, maxime quod, sed placeat, voluptas laudantium nam distinctio sequi libero laboriosam? Et, dignissimos.

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam sequi labore possimus similique. Odio provident inventore ipsum, maxime quod, sed placeat, voluptas laudantium nam distinctio sequi libero laboriosam? Et, dignissimos.

  section
    each error in errors
      p.error= error

    include /_partials/register.pug