form(action="/login" method="POST" id="login")
  label(for="usernameLogin") Username
    input(type="text" name="username" id="usernameLogin")
  label(for="passwordLogin") Password
    input(type="password" name="password" id="passwordLogin")
  button(type="submit") Sign In