nav
  ul
    li
      a(href="/") ABC 
    li
      a(href="/") ABC
    li
      a(href="/") ABC
    li
      a(href="/") ABC
    li
      a(href="/") ABC

  if isLoggedIn
    include logout.pug
  else
    include login.pug