nav
  ul
    li
      a(href="/") ABC 
    li
      a(href="/") ABC
    li
      a(href="/") ABC
    li
      a(href="/") ABC
    li
      a(href="/") ABC


  if isLoggedIn
    include avatar.pug
    include logout.pug
  else
    include login.pug